.input {
  margin: 2rem auto;
  width: 90%;
  height: 7vh;
  @media (orientation: landscape) {
    max-width: 30vw;
  }

  .input-form {
    height: 100%;
  }

  .user-input {
    display: block;
    color: #4d4d4d;
    font: inherit;
    font-size: 3vh;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid #ccc;
    &::placeholder {
      font-style: italic;
      color: #e6e6e6;
    }
    &:focus {
      outline: none;
    }
  }
}
